asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
backports-abc==0.5
certifi==2018.1.18
cffi==1.11.4
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
enum34==1.1.6
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.19
lxml==4.1.1
parsel==1.4.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pymongo==3.6.0
pyOpenSSL==17.5.0
queuelib==1.4.2
Scrapy==1.5.0
scrapy-splash==0.7.2
service-identity==17.0.0
singledispatch==3.4.0.3
six==1.11.0
tornado==4.5.3
Twisted==17.9.0
w3lib==1.19.0
zope.interface==4.4.3
